@import url('https://fonts.googleapis.com/css2?family=Delius&family=Poetsen+One&display=swap');

body {
  background-image: url("https://static.vecteezy.com/system/resources/previews/041/435/345/non_2x/pink-pastel-background-with-hearts-and-bokeh-fantasy-kawaii-magic-sky-with-gradient-cute-print-dreamy-girly-fantasy-wallpaper-vector.jpg");
  text-align: center;
  margin: auto;
   font-family: "Ribeye Marrow", serif;
}

h1{
  color: rgb(255, 148, 193);
}

h2{
  color: rgb(255, 148, 193);
}

h3{
  background-color: white;
  color: rgb(255, 148, 193);
  font-size: medium;
  font-weight: bold;
  font-style: italic;
}

#myCanvas {
  background-size: 600px 400px;
  border-radius: 30px;
  border: 5px solid white;
}





